
.about-us-container {
  display: flex;
  flex-direction: column;
  padding: 6vw 6vw 2vw 5vw;
  height: auto;
  width: 100%;
  gap: 3rem;
}
.about-us-container .about-us-section h2,
.about-us-section2 h2 {
  color: var(--graycolor);
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
.about-us-section {
  flex-direction: row;
  display: flex;
  gap: 4rem;
}
.left-part,
.right-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.left-part,
.right-part {
  flex: 1;
  box-sizing: border-box;
  display: inline-flex;
}
.left-part img,
.right-part img {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

.left-part p {
  max-width: 40.5625rem;
  min-height: 10rem;
}
.right-part p {
  max-width:37.8125rem;
}

.left-part p,
.right-part p,
.about-us-section2 .parent p,
.about-us-section2 .down-part p {
  color: var(--darkgraycolor);
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;  
  font-weight: 400;
  line-height: 110%;
}

.medi-text,
.medi-text2,
.medi-text3 {
  color: var(--Red);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 110%;
}
.medi-text ,.medi-text2{
  font-size: 1.625rem;
}


.medi-text3 {
  font-size: 1.5;
  font-weight: 700;
}

.about-us-section2 .parent {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  margin-bottom: 4%;
}
.about-us-section2 .parent p {
  max-width: 79.75rem;
}
.about-us-section2 .parent hr {
  margin: 1.5rem;
  border: 1px solid transparent;
}

.about-us-section2 .down-part {
  flex-direction: row;
  display: flex;
}
.about-us-section2 .down-part h2 {
  margin-bottom: 4%;
}
.about-us-section2 .down-part p {
  margin-bottom: 4rem;
  max-width: 40.4375rem;
}
.about-us-section2 .down-part{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 31.25rem;
}
.about-us-section2 .down-part .txt{
  width: 100%;
}
.about-us-section2 .down-part .backimg{
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  background: url(../images/pic_about_right2.png) no-repeat right center / cover rgb(255, 255, 255) ;
  width: 50%;
  height: 100%;
  position: absolute;
  background-size: 31.25rem ;
  height: 31.25rem;
  opacity: 1; 
  z-index: -1;
}

.about-us-section2 .down-part .dparag {
  width: 100%;
  max-width: 55.875rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
.about-us-section3 {
  margin-bottom: 4%;
}
.about-us-section3 .title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-us-section3 .title img {
  margin-right: 10px;
}
.about-us-section3 .title h3 {
  color: var(--Red);
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
}
.container .Ourfeatures {
  position: relative;
  width: 100%;
  display: inline-flex;
  gap: 40px;
  align-items: flex-start;
  scroll-behavior: smooth;
  padding: 20px;
  overflow-x: hidden;
}
.container .Ourfeatures .feature {
  flex: 0 0 auto;
  max-width: 374px;
  min-height: 359px;
  border-radius: 20px;
  border: 1px solid var(--Red);
  background: linear-gradient(90deg, var(--blackred) 0%, var(--blackred) 100%);
}
.container .control {
  position: relative;
  cursor: pointer;
  top: 50%;
  object-fit: cover;
  z-index: 100;
  max-width: 53.126px;
  max-height: 106.282px;
  flex-shrink: 0;
}
.container .prev {
  left: 4em;
  top: 20vh;
}
.container .next {
  right: 0em;
  top: 20vh;
}
.about-us-section3 .Ourfeatures .feature p {
  color: var(--whiteColor);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 110%;
  padding: 3vh;
}
.img-btn {
  padding: 3vh;
  display: flex;
  gap: 16px;
  cursor: pointer;
}
.control:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.Ourfeatures:hover .feature {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.about-us-section4 .title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-us-section4 .title img {
  margin-right: 10px;
}
.about-us-section4 .title h3 {
  color: var(--Red);
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.Ourdevelopers {
  position: relative;
  width: 100%;
  display: inline-flex;
  gap: 1.2em;
  scroll-behavior: smooth;
  padding: 2vw 0vh; /* overflow-x: hidden; */ /* flex-wrap: nowrap; */
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.Ourdevelopers .developer {
  /* flex: 0 0 auto; */
  width: 37vh;
  min-height: auto;
  border-radius: 20px;
  border: 1px solid var(--Red);
}
.Ourdevelopers .developer h4 {
  color: var(--graycolor);
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  padding: 16px;
}
.Ourdevelopers .developer p {
  display: flex;
  align-items: center;
  gap: 3px;
  padding-left: 1vw;
  color: var(--Red);
}
.Ourdevelopers .developer .names {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 1vh;
}
.Ourdevelopers .developer .img {
  stroke-width: 1px;
  stroke: var(--Red);
}

@media (max-width: 768px) {
  .about-us-section, .about-us-section2,
  .about-us-section2 .down-part{
    flex-direction: column;
    width: 100%;
  }
  .about-us-section2 .down-part .backimg{
    opacity: 0.5; 
  }

  .about-us-section2 .down-part p,
  .about-us-section2 .down-part .dparag {
    margin-bottom: 2rem; 
    max-width: 100%; 
  }
  
}



/* @media (max-width: 768px) {
  .container .Ourfeatures .feature {
    min-width: 300px;
  }
} */

/* @media (max-width: 1400px) {
  .about-us-section,
  .about-us-section2 {
    margin-left: 30px;
  }

  .left-part p,
  .right-part p {
    max-width: 500px;
  }
}
@media (max-width: 1000px) {
  .about-us-section {
    margin-bottom: 5cm;
    margin-left: 30px;
  }

  .about-us-section2 {
    max-width: 93%;
    margin-bottom: 5cm;
    margin-left: 30px;
  }
}

@media (max-width: 600px) {
  .about-us-section,
  .about-us-section2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left-part img,
  .right-part img {
    width: 70%;
  }

  .left-part p,
  .right-part p {
    width: 90%;
  }
} */
