.bg_article {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  padding: 3vh 0vw 5vh 4.81vw;
  gap: 5vh;
}

.address {
  color: #be0202;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.P_img {
  max-width: 100vw;
}

.topic{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.s_topic {
  color: #353535;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}