.bloodsugar {
  position: relative;
  padding: 1rem 2rem 2.5rem 2rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}
.bloodsugar .stb{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bloodsugar .stb h3 {
  color: var(--Red);
  font-family: 'Roboto',sans-serif;
  font-size: clamp(1.3rem, calc(1vw + 3vw), 2rem);  
  font-style: normal;
  font-weight: 700;
}
.bloodsugar .stb .menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5vw;
  gap: clamp(0.5rem, calc(1vw + 1vw), 1.5rem);  
  border-radius: 1rem;
  background: var(--Red);
  cursor: pointer;
}
.bloodsugar .stb .menu .txt{
  color: var(--whiteColor);
  font-family: 'Roboto',sans-serif;
  font-size: clamp(0.9rem, calc(1vw + 3vw), 1.25rem);  font-style: normal; 
  font-weight: 400;
  line-height: 1.45019rem; 
}
.bloodsugar .dropdown-content {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--whiteColor);
  width: 100%;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 1rem 1rem 0rem;
  z-index: 1;
  border-radius: 0.5rem;
}
.bloodsugar .dropdown-content div {
  color: black;
  padding: 0.5rem 1vw;
  text-decoration: none;
  display: block;
  border: 1px solid var(--Red) ;
  border-radius: 0.5rem;
  margin-bottom: 1em;
  font-size: clamp(0.1rem, calc(1vw + 2vw), 1rem); 
}
.bloodsugar .dropdown-content {
  display: block;
}
.dropdown-content div {
  color: black;
  /* padding: 0.5rem; */
  text-decoration: none;
  display: block;
}
.dropdown-content div:hover {
  border-radius: 0.5rem;
  color: var(--whiteColor);
  background-color: var(--Red);
}
/* date */
.bloodsugar .date {
  width: 100%;
  height: auto;
  display: flex;
  overflow-x: auto;
  align-items: flex-start;
  gap: 2.5em;
  margin-bottom: 2.5rem;
  scrollbar-width: none;
}
.bloodsugar .date::-webkit-scrollbar {
  display: none;
}
.bloodsugar .day-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.bloodsugar .day-name {
  color: #1F1F1F;
  font-size: clamp(1.5rem, calc(1vw + 3vw), 2rem);  
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}
.bloodsugar .date-container {
  width: clamp(3rem, calc(2vw + 4vw), 5vw);
  height: clamp(3rem, calc(2vw + 4vw), 5vw);
  position: relative;
  border-radius: 3rem;
  cursor: pointer;
}
.bloodsugar .date-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(1rem, calc(1vw + 3vw), 2rem);  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}
.bloodsugar .selected {
  opacity: 0.6;
}
/* diagram */
.bloodsugar .diagram {
  display: flex;
  padding: 1.5rem 2.5rem;
  flex-direction: column;
  width: 100%;
  min-height: 22rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: var(--whiteColor);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 2.5rem;
}
.bloodsugar .diagram .measure{
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: 'Roboto',sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.bloodsugar .diagram .measure .num{
  color: var(--Red);
}
.bloodsugar .dig{
  overflow-x: auto;
  scrollbar-width: none;
}
.bloodsugar .dig::-webkit-scrollbar {
  display: none;
}
.bloodsugar .diagram .dig .container {
  position: relative;
  width: 100%;
  min-width: 100.1875rem;
  min-height:15.625rem; 
  background-color: var(--whiteColor);
  overflow-x: auto;
  scrollbar-width: none;
}
.bloodsugar .container::-webkit-scrollbar {
  display: none;
}
.bloodsugar .mark-bar ,.red-bar{
  position: absolute;
  bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bloodsugar .red-bar {
  width: 0.9375rem;
  height: 8.56013rem;
  background-color: var(--Red);
}
.bloodsugar .mark-bar {
  width: 1rem;
  height: 13.5625rem;
  background-color: var(--Red);
}
.bloodsugar .mark-bar .number {
  position: absolute;
  color: var(--graycolor);
  font-family: 'Roboto',sans-serif;
  font-size: 1rem;
  bottom: -1.5em;
  z-index: 1;
  font-weight: 500;
} 
.bloodsugar .red-bar .number{
  display: none;
}
/* btn */
.bloodsugar .butn{
  display: flex;
  justify-content: center;
}
.bloodsugar .butn .addrec{
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 3rem;
  max-width: min-content;
  padding: 1vh 7vw;
  align-items: center;
  color: var(--whiteColor);
  border-radius: 0.625rem;
  background: var(--Red);
  font-family: 'Roboto',sans-serif;
  font-size: clamp(1rem, calc(1vw + 3vw), 1.5rem);  
  font-style: normal;
  font-weight: 500;
  /* line-height: 100%;  */
  letter-spacing: 0.03125rem;
}
.bloodsugar .butn .addrec:hover{
  opacity: 0.7;
}
/* after-click-btn */
.bloodsugar .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(18, 22, 25, 0.65);  
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.bloodsugar .overlay .seedet{
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 3rem;
  padding: 1rem 4rem;
  align-items: center;
  color: var(--whiteColor);
  border-radius: 0.625rem;
  background: var(--Red);
  font-family: 'Roboto',sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; 
  letter-spacing: 0.03125rem;
}
.bloodsugar .overlay .seedet:hover{
  opacity: 0.7;
}
