.bmi1{
    width: 100%;
  height: 190vh; 
  display: flex;

}

.bmir{
    color: #BE0202;
font-family: Roboto;
margin: 2rem 3rem;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.clockr2{
margin: 6rem 25rem;
flex-shrink: 0;
width: 3rem;
height: 23rem;
display: flex;
}

.clockr2 h2{
    color: #BE0202;
text-align: center;
margin: 10rem -15rem;
font-family: Roboto;
font-size: 3.125rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.03125rem;
}

.pclockp p{
    color: #BE0202;
font-family: Inter;
margin: -4rem 33rem;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.rtabler{
    width: 40.8125rem;
height: 20.8125rem;
margin: 7rem 16.5rem;
flex-shrink: 0;
border: 1px solid #be0202;
  border-radius: 0.625rem;
  display: flex;
}

.svgtable svg{
    margin: 1.6rem 4rem;
}

.svgtable2 svg{
    margin: 1.6rem 18rem;
}

.tablex2{
    width: 27.75rem;
height: 4.125rem;
flex-shrink: 0;
margin: 5rem -47rem;
    border: 1px solid #be0202;
  border-radius: 0.625rem;
  display: flex;
}

.tablex2 svg{
    margin: 1.3rem 1.5rem;
}

.tablex2 p{
    color: #1F1F1F;
font-family: Roboto;
margin: 1.3rem -1.1rem;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 1.45019rem; /* 96.677% */
}

.svgtabel3 svg{
    margin: 0.6rem 2rem;
}

.svgtable4 svg{
    margin: 1.3rem -1rem;
}

.svgtabel5 svg{
    margin: 0.6rem 2rem;
}

.svgtable6 svg{
    margin: 1.5rem -1rem;
}

.tablex3{
    width: 27.75rem;
height: 4.125rem;
flex-shrink: 0;
margin: 10rem 19.3rem;
    border: 1px solid #be0202;
  border-radius: 0.625rem;
  display: flex;
}

.tablex3 svg{
     margin: 1.3rem 1.5rem;
}

.tablex3 p{
    color: #1F1F1F;
font-family: Roboto;
margin: 1.3rem -1.1rem;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 1.45019rem; /* 96.677% */
}

.svgtabel9 svg{
    margin: 0.6rem 2rem;
}

.svgtable10 svg{
    margin: 1.3rem -1rem;
}

.svgtabel11 svg{
    margin: 0.6rem 2rem;
}

.svgtable12 svg{
    margin: 1.5rem -1rem;
}

.tablex4{
    width: 27.75rem;
height: 4.125rem;
flex-shrink: 0;
margin: 15rem -47.1rem;
    border: 1px solid #be0202;
  border-radius: 0.625rem;
  display: flex;
}

.tablex4 svg{
    margin: 1.3rem 1.5rem;
}

.tablex4 p{
    color: #1F1F1F;
font-family: Roboto;
margin: 1.3rem -1.1rem;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 1.45019rem; /* 96.677% */
}

.svgtabel13 svg{
    margin: 0.6rem 2rem;
}

.svgtable14 svg{
    margin: 1.3rem -1rem;
}

.svgtabel15 svg{
    margin: 0.6rem 2rem;
}

.svgtable16 svg{
    margin: 1.5rem -1rem;
}

.rfotr1{
    width: 92.375rem;
  height: 16rem;
  margin: -4.5rem -7rem;
  gap: 4rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 1px solid #D9D9D9;
  }
  
  .rfotr2{
    color: #1F1F1F;
    font-family: Roboto;
    margin: 1rem 1rem;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .rfotr3{
    color: #1F1F1F;
  font-family: Roboto;
  margin: 1rem 1rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  }
  
  .rfotr4{
    color: #353535;
  font-family: Roboto;
  margin: 1rem 1rem;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

  .heiherebut23{
    display: flex;
width: 29.0625rem;
height: 3rem;
margin: 6.5rem 24rem;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 0.625rem;
border: 2px solid #BE0202;
background: #BE0202;

color: #fff;
  }