.head{
  display: flex;
  justify-content: center;
  align-content: flex-start;
  color: var(--Red);
  font-family: 'Roboto',sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  margin: 2rem ;
}

                        /* Cards */

body .card{
  display: block;
  width: 53%;
  border: 0.1rem solid var(--Red);
  border-radius: 1rem;
  margin:-1% 0 2% 25% ;
}

                        /* Card-img */

body .card .d-img{
  margin: -5% 0 0 0;
  display: flex;
}

body .card .d-img img{
  width: 65%;
  height: 70vh;
}

                        /* Card-doctor-name */

body .card .d-name {

  display: flex;
}

body .card .d-name p{
  color: var(--blackColor);
  font-family: 'Roboto',sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  padding-left: 1rem;
  margin-top: -1rem;
}

body .card .d-name .def{
  color: #9c9b9bc5;
  font-family: 'Roboto',sans-serif;
  font-size: 1.27rem;
  font-style: normal;
  font-weight: 700;
  margin-left: -0.7rem;
}

                        /* Card-doctor-number */

body .card .d-tele p{
  display: flex;
  color: var(--graycolor);
  font-family: 'Roboto',sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  padding: 1rem;
}

                        /* Card-doctor-location */

body .card .location{
  display: flex;
  margin-top: -0.6rem;
}

body .card .location p{
  color: var(--blackColor);
  font-family: 'Roboto',sans-serif;
  font-size: 1.27rem;
  font-style: normal;
  font-weight: 600;
}

                        /* Card-doctor-rate */

body .card .stars{
  display: flex;
  padding-top: 0.6rem;
}

                        /* Card-doctor-about */

body .card .info{
  display: flex;
  gap: 1%;
  margin: -2rem 0 0 -1.3rem;
}

body .card .info p{
  color: var(--Red);
  font-family: 'Roboto',sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
}

body .card .info .d-about{
  display: flex;
  color: var(--graycolor);
  font-family: 'Roboto',sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  margin: -1.7rem 0 0 5rem;
}

                        /* Card-(doctor_user)-rate */

body .card .rate{
  display: flex;
  padding: 1rem 0 0 1.3rem;
}

body .card .rate p{
  color: var(--Red);
  font-family: 'Roboto',sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}

body .card .rate input {
  display: none;
}

body .card .rate .star{
  margin-top: -1.4rem ;
  padding-left: 0.5rem;
}

body .card .rate  .popup-r{
  width: 100%;
  height: 83.5rem;
  background: rgba(18, 22, 25, 0.65);
  position: absolute;
  top: 10%;
  text-align: center;
  left: 0%;
  padding: 27%;
}

body .card .rate .popup-r p{
  margin: 16rem 0 0 0 ;
  color: var(--whiteColor);
  font-family: 'Roboto',sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.5px;
}
body .card .rate  .popup-r .btn{
  display: flex;
  min-height:5vh;
  width: 9em;
  height: 3.5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  border: 2px solid var(--Red);
  background: var(--Red);
  color: var(--whiteColor);
  font-family: 'Roboto',sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.5px;
  margin: 5rem 0 0 13rem;
}

body .card .rate .popup-r .btn:hover{
  cursor: pointer;
  background-color: var(--blackred);
  color: var(--whiteColor);
  border: none;
}
                        /* Booking a Date */
.card form .B-Date{
  margin: 3rem 0 0 -2.5rem;
}

.card form .B-Date .Dates{
  margin: 1.6rem 0 0 0;
}

 .card form .B-Date p{
  display: flex;
  color: var(--graycolor);
  font-family: 'Roboto',sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  margin: -1.2rem 0 0 3.8rem;
}

.card form .B-Date input{
  display: none;
}

 .card .B-Date label{
  justify-items: center;
  border: 0.1rem solid var(--Red);
  border-radius: 0.4rem;
  margin: 2rem 0 0 0.4rem;
  padding: 0.8rem 0.2rem ;
  color: var(--graycolor);
  font-family: 'Roboto',sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

 .card .B-Date label:hover{
  color: var(--whiteColor);
  background-color: var(--Red);
  cursor: pointer;
}

 .card .B-Date .selected{
  color: var(--whiteColor);
  background-color: var(--Red);
}

.card .B-Date .l1{
  margin-left: 3.8rem;
}


                        /* Booking a Time */

 .card .B-Time{
  width: 110%;
  margin: 3.2rem 0 0 -2.5rem;
}

 .card .B-Time .Time{
  margin: 1.7rem 0 2rem 0;
}

 .card .B-Time p{
  display: flex;
  color: var(--graycolor);
  font-family: 'Roboto',sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  margin: -1.2rem 0 0 3.8rem;
}

 .card .B-Time input{
  display: none;
}

 .card .B-Time label{
  justify-items: center;
  border: 0.1rem solid var(--Red);
  border-radius: 0.4rem;
  margin: 2rem 0 0 0.57rem;
  padding: 0.9rem 0.2rem ;
  color: var(--graycolor);
  font-family: 'Roboto',sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

 .card .B-Time label:hover{
  color: var(--whiteColor);
  background-color: var(--Red);
  cursor: pointer;
}

 .card .B-Time .selected{
  color: var(--whiteColor);
  background-color: var(--Red);
}

 .card .B-Time .t1{
  margin-left: 3.8rem;
}

                        /* Book - Button*/

body .card .book button{
  width: 15rem;
  height: 3.5rem;
  background-color: var(--Red);
  color: white;
  font-family: 'Roboto',sans-serif;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.7rem;
  margin: 2rem 0 2rem 14.5rem;
}

body .card .book button:hover{
  cursor: pointer;
  background-color: var(--secondaryColor);
  color: var(--Red);
  border: none;
}

                        /* Complete - Button*/

body .card .book .popup-b{
  width: 100%;
  height: 196vh;
  background: rgba(18, 22, 25, 0.65);
  position: absolute;
  top: 10%;
  text-align: center;
  left: 0%;
  padding: 27%;
}

body .card .book .popup-b .check{
  width: 20rem;
  height: 30rem;
  margin-top: -10%;
}

body .card .book .popup-b .btn{
  display: flex;
  min-height:5vh;
  width: 9em;
  height: 3.5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  border: 2px solid var(--Red);
  background: var(--Red);
  color: var(--whiteColor);
  font-family: 'Roboto',sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.5px;
  margin: -3rem 0 0 13rem;
}

body .card .book .popup-b .btn:hover{
  cursor: pointer;
  background-color: var(--blackred);
  color: var(--whiteColor);
  border: none;
}