.chat {
  display: flex;
  height: 100vh;
  padding: 2.5rem;
  gap: 0.5em;
}
.chat .sidebarchat{
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 2.5rem;
}
.chat .sidebarchat .sidebar {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 2rem;
}
.chat .sidebarchat .sidebar::-webkit-scrollbar{
  display: none;
}
.chat .sidebarchat h3 {
  color: var(--Red);
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.chat .sidebar .doctorschat {

}

.chat .sidebarchat .sidebar .doctorschat .slide {
  display: flex;
  flex-direction: row;
  border-radius: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.25em 1em;
  gap: 0.5em;
  width: 100%;
}
.chat .sidebarchat .sidebar .doctorschat .slide .doctorAvatar {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat .sidebarchat .sidebar .doctorschat .slide .doctorAvatar .zoomedImage {
  object-fit: cover; 
  object-position: -16px center; 
  width: auto;
  height: 450%; 
  transform: translateY(31%); 
}
.chat .sidebarchat .sidebar .doctorschat .slide .doctorInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.chat .sidebarchat .sidebar .doctorschat .slide .doctorInfo .doctortext {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.chat .sidebarchat .sidebar .doctorschat .slide .doctorInfo .doctorName {
  color: #1c1f1e;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.chat .sidebarchat .sidebar .doctorschat .slide .doctorInfo .doctorSpeciality,
.chat .sidebarchat .sidebar .doctorschat .slide .doctorInfo .lastMessage,
.chat .sidebarchat .sidebar .doctorschat .slide .doctorInfo .messageTime {
  color: #a7a6a5;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.chat .sidebarchat .sidebar .doctorschat .slide .doctorInfo .lastMessage {
  font-size: 15px;
}
.chat .sidebarchat .sidebar .doctorschat .slide .doctorInfo .mess {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.chat .sidebarchat .sidebar .doctorschat .slide .doctorInfo .unreadMessages {
  width: 24px;
  height: 24px;
  background-color: #ff6c52;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
}
.onlineIndicator {
  /* width: 10px;
  height: 10px;
  background-color: #66CA98;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  left: 53px;
  top: 62px; */
}


.chatm {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: #e5ddd5;
}

.messages {
  flex: 1;
  overflow-y: auto;
}

.input-area {
  border-top: 1px solid #ddd;
  padding: 10px;
  display: flex;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border: none;
  margin-right: 10px;
}

.input-area button {
  padding: 10px;
}
