.doctor-container {
  max-width: 100%; 
  height: 100rem; 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 3vh 4vw 5vh 4vw;
}

input {
  border: none;
  border-color: white;
  padding-left: 0.5vw;
  font-size: 1.3em;
  width: 90%;
  /* width: -webkit-fill-available; */
}

input:hover {
  border: white;
}

.doctor-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
  align-items: center;
  padding: 2vh 0vw 6vh 0vw;
}

.search-bar {
  display: flex;
  width: 35vw;
  height: 2.82rem;
 
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 1px solid #be0202;
  color: #1f1f1f;
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
  left: 20rem;
  /* padding: 0rem 3rem; */
  
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.notificationr1 {
  margin: -1rem 90.5rem;
  position: absolute;
  cursor: pointer;
}

.coat {
  color: #be0202;
  font-style: normal;
  line-height: normal;
}
.search-box {
  border-radius: 5rem;
}


.search-bar input{
  border: none;
  outline: none;
}

.nod {
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.rot {
  display: inline-flex;
  padding-left: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
  color: rgba(53, 53, 53, 1);
}

.zend {
  color: #1e1e1e;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: rgba(30, 30, 30, 1);
  padding-top: 2rem;
}

.xo {
  color: #1f1f1f;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bot {
  display: flex;
  height: 1.375rem;
  padding-right: 0.25rem;
  align-items: flex-start;
  gap: 0.3125rem;
  padding-top: 0.4rem;
}

.quo {
  color: #1f1f1f;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 1.375rem */
}

.got {
  display: inline-flex;
  align-items: flex-start;
  gap: 0.3rem;
  width: 10rem;
  height: 2.5rem;
  flex-shrink: 0;
  padding-top: 1rem;
}

.search-list{
  width: 34.5rem;
  height: 30rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  position: absolute;
  z-index: 999;
  margin: 3.8rem 56rem;
  background: #FCFCFC;
}

.searchlist1{
  display: flex;
  border-radius: 0.625rem;
  border: 1px solid #be0202;
  width: 34.375rem;
height: 10.855rem;
flex-shrink: 0;
}

.searchlist1 img{
  display: flex;
width: 9.375rem;
height: 10.75rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
flex-shrink: 0;
}

.zend1{
  color: #1E1E1E;
font-family: Roboto;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.xo1{
  color: #1F1F1F;
font-family: Roboto;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 2rem -12rem;
}

.bot1{
  display: flex;

align-items: flex-start;
gap: 0.1875rem;
}

.quo1{
  color: #1F1F1F;
font-family: Roboto;
font-size: 1rem;
font-style: normal;
font-weight: 500;
margin: 4rem -6.5rem;
line-height: 110%; /* 1.1rem */
}

.bot1 svg{
  margin: 3.9rem 6.5rem;
}

.seou1{
  color: #1F1F1F;
font-family: Roboto;
font-size: 1rem;
font-style: normal;
margin: 6rem -3rem;
font-weight: 500;
line-height: 110%; /* 1.1rem */
}

.got1{
  display: flex;
}
.got1 svg{
  margin: 6rem 3rem;
}

.star1{
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  margin: 8rem -4rem;
}

.buttonrr_r1{
  display: flex;
  color: #fff;

  width: 11.75rem;
  height: 3rem;

  margin: -3.3rem 22rem;
  /* width: 11.75rem; */
  /* height: 3rem; */
  padding: 0.5rem 2rem;
  justify-content: center;

  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #be0202;
  cursor: pointer;
}

.searchlist2{
  display: flex;
  border-radius: 0.625rem;
  border: 1px solid #be0202;
  width: 34.375rem;
height: 10.855rem;
margin: 3.5rem -0.01rem;
flex-shrink: 0;
}

.searchlist2 img{
  display: flex;
width: 9.375rem;
height: 9.75rem;

justify-content: center;
align-items: center;
gap: 0.625rem;
flex-shrink: 0;
}

.buttonrr_r2{
  display: flex;
  color: #fff;

  width: 11.75rem;
  height: 3rem;

  margin: -6.8rem 22rem;
  /* width: 11.75rem; */
  /* height: 3rem; */
  padding: 0.5rem 2rem;
  justify-content: center;

  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #be0202;
  cursor: pointer;
}

.seou {
  color: #1f1f1f;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 0.3rem;
  line-height: normal;
  font-family: "Roboto", sans-serif;
}

.star {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.buttonrr_r {
  display: flex;
  color: #fff;

  width: 11.75rem;
  height: 3rem;
  padding: 0.755rem 0.557rem;

  /* width: 11.75rem; */
  /* height: 3rem; */
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #be0202;
  cursor: pointer;
}

.button:hover,
.doctors-details:hover {
  background-color: var(--secondaryColor);
  color: var(--Red);
}

.h2onliner1{
  color: #777474;
font-family: Roboto;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.h2onliner2{
  color: #420000;
font-family: Roboto;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.right-part {
  display: none;
}

.right {
  width: 27rem;
  height: 50rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 1px solid #be0202;
  padding: 1rem;
}

.img6 {
  display: flex;
  width: 23.1875rem;
  height: 25.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.63rem;
  flex-shrink: 0;
}

/* .connect{
  display: flex;
  
  gap: 2rem;
height: 57.3125rem;
flex-shrink: 0;


} */

.left {
  width: 27rem;
  height: 50rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 1px solid #be0202;
  padding: 1rem;
}

.img7 {
  width: 23.1875rem;
  height: 25.52004rem;
  flex-shrink: 0;
}

.under {
  width: 27rem;
  height: 50rem;
  position: relative;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 1px solid #be0202;
  padding: 1rem;
}

.img8 {
  width: 23rem;
  height: 25.51994rem;
 
  flex-shrink: 0;
}

/* add */


.contain .connect {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  position: relative;
}
.contain .connect::-webkit-scrollbar {
  display: none;
}
.contain .control {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.contain .prev,
.contain .next {
  position: absolute;
  top: calc(85% - 85px);
}
.contain .prev {
  left: 1rem;
}
.contain .next {
  right: 1rem;
}
.control:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
