.doctor-container {
  max-width: 90rem;
  height: 90.625rem;
}

.doctor-section {
  width: 84.0625rem;
  height: 3.8125rem;
  flex-shrink: 0;
}

.coat {
  color: #be0202;
  font-style: normal;
  line-height: normal;
  padding: 3rem 0rem 4rem 4rem;
}

.search-box {
  position: relative;

  width: 3rem;
  height: 3rem;
  top: -6rem;
  left: 49rem;

  border-radius: 5rem;
}

.search-box input[type="text"] {
  width: 33.39306rem;
  height: 2.82rem;
  flex-shrink: 0;
  border-radius: 0.625rem;

  border: 1px solid #be0202;
  color: #1f1f1f;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;

  line-height: normal;
  left: 20rem;
  padding: 0rem 3rem;
}

.nod {
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.search-box img {
  display: flex;
  align-items: center;
  padding: 15px;
  width: 200px;
  height: 200px;

  object-fit: contain;
  top: 189px;
  left: 824px;
  border-radius: 4px;
  gap: 10px;
}

.doctors-details {
  display: flex;
  align-items: center;
  width: 582px;
  height: 194px;
  top: 300px;
  left: 809px;
  border: 1px solid rgba(190, 2, 2, 1);
  border-radius: 15px;
}

.rot {
  width: 269px;
  height: 178px;
  flex-shrink: 0;
}

.doctors-details h2 {
  color: #1e1e1e;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bot {
  display: inline-flex;
  padding: 0px 16px 3.958px 0px;
  align-items: flex-start;
  gap: 3px;
}

.got {
  display: inline-flex;
  align-items: flex-start;
  gap: 6px;
  width: 114px;
  height: 40.091px;
  flex-shrink: 0;
}

.doctors-details h6 {
  color: #1f1f1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  height: 35px;
}

.doctors-details img {
  width: Fixed (150px);
  height: Fixed (172px);
  top: 189px;
  left: 824px;
  border-radius: 4px;
  gap: 10px;
}
