.forgetpassword_wrapper{
    width: 100vw; 
   height: 100vh; 
  display: flex;
justify-content: center;
align-items: center;
overflow-x: hidden;
}

.forgetpassword_card{
    padding: 2em;
width: 30rem;

border: 1px solid #BE0202;
background: var(--Default-White, #FFF);
}



.forgetpassword_title{
    color: rgba(190, 2, 2, 1);
    
}

.forgetpassword_desc{
    color: rgba(53, 53, 53, 1);
    
    
}