.history{
  padding: 2em;
  display: flex;
  align-items:center ;
  flex-direction: column;
  gap: 2em;
  flex: 1;
}
.history span{
  animation: none;
}
.history h3{
  color: var(--Red);
  font-family: 'Roboto',sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.history .bloodhis .menu{
  display: flex;
  align-items: center;
  font-size: 1.3em; 
  position: relative;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
}
.history .bloodhis .menu .txt{
  color: var(--graycolor);
  font-family: 'Roboto',sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.history .bloodhis .menu .dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 120%;
  background-color: var(--whiteColor);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 0.5rem;
  width: 100%;
}
.history .bloodhis .menu .dropdown-content {
  display: block;
}
.history .bloodhis .menu .dropdown-content .nav {
  color: var(--Red);
  padding: 0.5rem;
  text-decoration: none;
  display: block;
  font-size: 1em;
  font-weight: 700;
}
.history .bloodhis .menu .dropdown-content .nav:hover {
  border-radius: 0.5rem;
  color: var(--whiteColor);
  background-color: var(--graycolor);
}
.history .his{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.history .datah{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  padding: 2.5rem 1rem;
  max-width: 100%;
}
.history .datah .data{
  border: 1px solid var(--Red);
  font-family: 'Roboto',sans-serif;
  border-radius:0.3em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  font-weight: 500;
  padding: 0.5em 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.history .datah .data .status{
  color: var(--Red);
  padding: 0.5em 0em;
}
.history .datah .data .mesure{
  display: flex;
  gap: 0.3em;
  color: var(--graycolor);
  font-style: normal;
  line-height: 1.45019rem;
  padding: 0.5em 0em;
}
.history .datah .data .mesure .unit{
  color: var(--graycolor);
  font-weight: 600;
  line-height: 1.45019rem;
}
.history .datah .data  .line{
  border:0.02em solid var(--Red);
  height: 1.8em;
  opacity: 0.6;
}
.history .datah .data .date{
  color: var(--graycolor);
  padding: 0.5em 0em;
}
.history .datah .data .day{
  color: var(--graycolor);
  padding: 0.5em 0em;
}
.history .datah .data .status, .history .datah .data .date, .history .datah .data .day ,.history .datah .data .mesure{
  font-size: calc(1em + 0.5vw);
}



