.welcome-sec {
  display: flex;
  flex-direction: row;
  padding: 7vh 9vh 0vh 9vh;
}
.leftpart  ,.rightpart{
  max-width: 50%;
  display: flex;
  padding: 5%;
  flex-direction: column;
  gap: 5%;
}
.rightpart{
  margin-top: 6.2vh;
}
.rightpart h2{
  color: var(--graycolor);
  font-family: 'Roboto',sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  min-width: 30vw;
}
.rightpart .medi{
  color: var(--Red);
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
.rightpart h3{
  color: var(--graycolor);
  font-family: 'Roboto',sans-serif;
  font-size: 2em;
  left: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; 
}
.rightpart p{
  color: var(--darkgraycolor);
  font-family: 'Roboto',sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; 
  margin-bottom: 5vh;
}
.rightpart .btn{
  display: flex;
  min-height: 5vh;
  max-width: 13vw;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--Red);
  background: var(--Red);
  color: var(--whiteColor);
  font-family: 'Roboto',sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.5px;
}
.rightpart .btn:hover{
  background-color: var(--secondaryColor);
  color: var(--Red);
  border: none;
}
                        /* smart health */

.smarthealth-sec{
  background: linear-gradient(90deg, rgba(190, 2, 2, 0.09) 0%, rgba(190, 2, 2, 0.5) 46.81%, rgba(190, 2, 2, 0.09) 100%);
}

.name{
  padding: 1.44rem 2.75rem 1.62rem 2.75rem;
  display: flex;
  max-width:88vw;
  align-items: center;
  padding-left: 2vw;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.name .trans{
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.name h3{
  /* padding: 1em; */
  font-family: 'Roboto',sans-serif;
  color: var(--graycolor);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.name p{
  font-family: 'Roboto',sans-serif;
  color: #1F1F1F;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* .name svg{
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 6em;
  line-height: 110%;
  flex-shrink: 0;
} */


/* .child{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-wrap: 1;
  justify-content: center;
  align-items: center;
}
.child .recordingh{
  width: 19.3rem;
  height: 25.125rem;
  flex-shrink: 0;
  max-width: 60rem;
  border-radius: 10px;
  margin:0 2vh 1vh 0;
  border: 1px solid #A4A2A2;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); 
  background-color: white;
}
.child .recordingh img{
  width: 100%;
  height: auto;
  max-height: 34vh;
  padding: 5% 9%  0% 9%;
}
.child .recordingh h4{
  color: var(--graycolor);
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 4vh;
  padding-bottom: 2rem;
}
.ex{
  color: red;
} */
                          /* Articles */
.articles-sec {
  display: flex;
  flex-direction: column;
  width: 90rem;
  height: 36.5625rem;
  flex-shrink: 0;
  padding: 2rem 0 0 2rem;
}
.word {
  color: #1F1F1F;
  font-size: 32px;
  font-family: Roboto;
  font-weight: 700;
  word-wrap: break-word;
  display: flex;
  width: 82.375rem;
  align-items: flex-start;
  gap: 66rem;
}
.word h5{
  font-family: 'Roboto',sans-serif;
  color: #1F1F1F;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -2vh;
}
.word svg{
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 110%;
  padding-top: 2vh;
  margin-left: 2vh;
  flex-shrink: 0;
}
.diss {
  gap: 8rem;
}
.dis {
  display: flex;
  border: 1px var(--Red) solid;
  width: 89vw;
  height: 15vh;
  flex-shrink: 0;
  border-radius: 0.7em;
  align-items: center;
}
.diseases {
  display: flex;
  width: 88vw;
  height: 6vh;
  align-items: center;
  padding-left: 2vw;
  flex-shrink: 0;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.diseases p {
  color: var(--graycolor);
  font-family: 'Roboto',sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}




