.rnewpassword{
    width: 100vw; 
   height: 100vh; 
  display: flex;
  overflow-x: hidden;
}

.new1{
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 2.25rem;
padding-top: 17rem;
padding-left: 3rem;

}

.rnewr{
    width: 26.8125rem;
height: 5.25rem;
}

.rnewr h2{
    color: #BE0202;
text-align: center;

/* Heading/2 */
font-family: Roboto;
font-size: 2.625rem;
font-style: normal;
font-weight: 700;
line-height: 110%; /* 2.8875rem */
}

.rnewr p{
    color: #1F1F1F;
font-family: Roboto;
font-size: 0.9375rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.rrowr{
    display: flex;
    position: relative;
width: 35rem;
flex-direction: column;
align-items: flex-start;
gap: 0.25rem;
}

.rrowr input{
    display: flex;
height: 3rem;
padding: 0.75rem 1rem;
align-items: center;
gap: 0.5rem;
align-self: stretch;
border-radius: 0.625rem;
border: 1px solid #BE0202;
}

.lbr4{
    display: flex;
    position: relative;
width: 35rem;
flex-direction: column;
align-items: flex-start;
gap: 0.25rem;
}

.lbr4 input{
    display: flex;
height: 3rem;
padding: 0.75rem 1rem;
align-items: center;
gap: 0.5rem;
align-self: stretch;
border-radius: 0.625rem;
border: 1px solid #BE0202;
}

.rbtrd{
    display: flex;
width: 31.5625rem;
height: 3rem;
padding: 1rem 0.75rem;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 0.625rem;
border: 2px solid #BE0202;
background: #BE0202;
color: #fff;
font-size: 1rem;
}

.buttorr{
    padding-right: 1rem;
}

.ttonr svg{
    position: absolute;
    right: 4.5rem;
    top: 2.3rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.tronr svg{
    position: absolute;
    right: 4.5rem;
    top: 2.2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}