.disease{
  padding: 6vh 6vh 5vh 6vh;
  height: auto;
  flex: 1;
}
.disease h3{
  color: var(--Red);
  font-family: 'Roboto',sans-serif;
  font-size: clamp(1.4rem, calc(2vw + 4vw), 2.5rem);
  font-weight: 700;
  margin-bottom: 5vh;
}
.child{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1.4em;
  flex-grow: 1;
}
.child .recording{
  overflow: hidden;
  align-items: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  min-width: 20vw;
  max-width: 30vw;
  border-radius: 10px;
  border: 1px solid #A4A2A2;
  transition: transform 0.3s, box-shadow 0.3s; 
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); 
}
.child .recording:hover{
  height: auto;
  transform: scale(1.1); 
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75); 
}
.child .recording img{
  width: 100%;
  max-height: 15rem;
  padding: 1.2vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1 0 0;
}
.inf{
  padding: 0vw 2vw 1.5vw 2vw;
  gap: 0.9vw;
  display: flex;
  flex-direction: column;
}
.child .recording h4{
  color: var(--graycolor);
  font-family: 'Roboto',sans-serif;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.child .recording p{
  color: var(--darkgraycolor);
  font-family: 'Roboto',sans-serif;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.child .recording .btn{
  display: flex;
  padding: 0.5vw 0.2vw;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 0.3em;
  background: var(--Red);
  color: var(--whiteColor);
  font-family: 'Roboto',sans-serif;
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; 
  letter-spacing: 0.03vw;
}
.child .recording .btn:hover{
  opacity: 0.7;
}
/* responsine design */
@media (max-width: 1024px) {
  .child{
  flex-wrap: wrap;
  width: 100%;
  }
  .child .recording{
    width: 100%;
    max-width: 40vw;
  }
}

@media (max-width: 650px) {
  .child .recording{
    width: 100%;
    max-width: 100%;
  }
}