@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
header {
  display: flex;
  width: 100%;
  padding: 1rem;
  background-color: var(--whiteColor);
  color: var(--Red);
  align-items: center;
  justify-content:space-between;
}
.Navbar h3 {
  font-family: 'Arizonia',sans-serif;
  font-size: 2.7vw;
  font-weight: 400;
  cursor: pointer;
}
.Navbar{
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 3vw;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 3vw;
}
nav a {
  color: var(--Red);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1vw;
}
nav a:hover {
  opacity: 0.7;
}
header .nav-btn {
  padding: 5vw;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--Red);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
  display: none;
}
header div,
nav {
  display: flex; 
  align-items: center;
  justify-content: space-around;
  align-content: flex-end;
}
nav .nav-button button {
  margin: 1vh;
  background-color: var(--Red);
  border: none;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border-radius: 0.625rem;
  padding: 0.6vw 2vw;
  flex-shrink: 0;
  color: var(--whiteColor);
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  font-style: normal;
  color: var(--whiteColor);
}
nav a:last-child, nav .nav-button:last-child {
  margin-right: 0; 
}
nav .nav-button button:hover,
nav .navbar-menu_container button:hover {
  opacity: 0.7;
}

/* responsive design */
@media only screen and (max-width: 1400px) {
  .Navbar{
    gap: 3vw;
  }
  nav {
    gap: 2.9vw;
  }
}
@media only screen and (max-width: 1324px) {
  .Navbar{
    gap: 2.7vw;
  }
  nav {
    gap: 2.6vw;
  }
}
@media only screen and (max-width: 1088px) {
  .Navbar{
    gap: 2.4vw;
  }
  nav {
    gap: 2.5vw;
  }
}
@media only screen and (max-width: 1024px) {
  .active {
    font-size: 16px;
  }
  header{
    justify-content: space-between;
  }
  .Navbar h3 {
    font-size: 35px;
    font-weight: 400;
  }
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    display: flex;
  }
  nav {
    margin-left: 0px;
    gap: 10px;
  }
  nav .nav-button {
    margin-right: -7px;
  }
  header nav {
    position: fixed;
    top: 4vh;
    right: 0;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--whiteColor);
    transition: transform 1s ease , visibility 1s ease;
    transform-origin: top;
    transform: scale(0);
    z-index: 11;
    border-radius: 1rem;
    visibility: hidden;
    padding: 1em;
  }
  header nav.responsive_nav {
    transform: scale(1); 
    visibility: visible;
  }

  nav .nav-close-btn {
    position: absolute;
    top: -2rem;
    right: -1rem;
  }
  nav a {
    font-size: 1rem;
  }
  nav .nav-button button {
    font-size: 0.9em;
  }
}

