@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Clicker+Script&family=Oswald:wght@500&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400&family=Tajawal:wght@700&family=Ubuntu&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --Red: #be0202;
  --blackred:rgba(190, 2, 2, 0.50);
  --mainColorLight: #f90723;
  --secondaryColor: #ff00007e;
  --whiteColor: #fff;
  --blackColor: #000000;
  --graycolor: #1f1f1f;
  --darkgraycolor:#353535
}
a {
  text-decoration: none;
}

.active {
  font-size: 16px;
  font-weight: 900;
}
